nav {
    opacity: 1;
    color: white;
    background-color: #555955;
    /* width: 40000px; */
}
#header {
    opacity: 1;
    color: white;
    background-color: #555955;
    /* width: 40000px; */
}

#home-page {
    background-image: url("https://wallpaperaccess.com/full/3459236.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white
}

h1{
    color: white;
    text-align: center;
    font-size: 8.5vw;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 6px 6px black;
    font-family: Arial, Helvetica, sans-serif;
}


 /* color: white;
    text-align: center;
    font-size: 7.5vw;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 62%;
    transform: translate(-50%, -50%);
    text-shadow: 6px 6px black;
    font-family: Arial, Helvetica, sans-serif;
  */

/* .contactContainer {
    display: flex;
    justify-content: space-between;
} */


/* <----- about ---->  */
h2 {
    font-size: 80px;
    font-weight: bolder;
    color: white;
    text-align: center;
    background-color: #D3D3D3;
    /* font-family: 'Poiret One', cursive; */
    text-shadow: 3px 6px black;
    text-decoration: underline;
}
#about {
    background-color: #D3D3D3;
    /* background-color: #e3e2df; */
    font-size: 26px;
    color: black;
    /* font-family: 'Poiret One', cursive; */
    /* text-shadow: 3px 2px white; */
    font-weight: 5000px;
}
.about{
    /* font-family: 'Poiret One', cursive; */
}
.skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    text-align: center;
}
#icon-text{
    margin: 0 auto;
    width: 1050px;
    height: 175px;
    margin-top: 89px;
}
p.icon-text{
    display: inline-block;
    margin: 0 20px 0 20px;
    
}


/* <---- education ---> */
h4 {
    font-size: 75px;
    font-weight: bolder;
    text-align: center;
    background-color: #D3D3D3;
    color: white;
    /* font-family: 'Poiret One', cursive; */
    text-shadow: 3px 6px black;
    text-decoration: underline;
}
h5 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    background-color: #D3D3D3;
    color: white;
    font-family: 'Poiret One', cursive;
    text-shadow: 3px 2px black;
}
#education{
    font-size: 30px;
    background-color: #D3D3D3;
}
.education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    background-color: #D3D3D3;
    color: black;
    /* font-family: 'Poiret One', cursive; */
    /* text-shadow: 3px 2px black; */
    font-weight: 500px;
}


/* <---- contact ----> */
h6 {
    font-size: 75px;
    font-weight: bolder;
    color: white;
    text-align: center;
    /* background-color: #e3e2df; */
    background-color: #555955;
    /* font-family: 'Poiret One', cursive; */
    text-shadow: 3px 3px black;
    text-decoration: underline;
}

h8 {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-align: center;
    /* background-color: #e3e2df; */
    background-color: #555955;
    /* font-family: 'Poiret One', cursive; */
    text-shadow: 3px 6px black;
    /* text-decoration: underline; */
}
.contactContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* background-color: #0a62b0; */
}
#contact-icons{
    color: transparent;
   -webkit-text-stroke-width: 4px;
   /* -webkit-text-stroke-color: white;   */
}

#icons {
    /* -webkit-text-fill-color: white; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;

}

#contact {
    /* background-color: #e3e2df; */
    background-color: #555955;
}

/* <---- projects --->  */
#projects {
    /* background-color: #e3e2df; */
    background-color: #555955;
    
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    color: white;
}
.title-projects {
    font-size: 75px;
    font-weight: bolder;
    color: white;
    text-align: center;
    /* background-color: #e3e2df; */
    background-color: #555955;
    /* font-family: 'Poiret One', cursive; */
    text-shadow: 3px 3px black;
    text-decoration: underline;
}

h3 {
    font-size: 30px;
    font-weight: bolder;
    color: white;
    /* background-color: #e3e2df; */
    background-color: #555955;
    /* font-family: 'Poiret One', cursive; */
    text-shadow: 3px 3px black;
    /* text-decoration: underline; */
}

img {
    width:400px; /* you can use % */
    height: auto;
    border: 8px solid white;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    transition: 1s ease;
    opacity:0.5;
    transition: 1s ease;
}

img:hover {
    opacity:1;
    transition: 1s ease;
}